# Git
.git
.gitignore

# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Logs
logs/
*.log

# Output directory (if you decide to persist it later)
output/

# VS Code
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Mac
.DS_Store 